[Unit]
Description=Monic agent
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root
ExecStart=/usr/local/bin/monic-agent
Environment=MONIC_JOURNAL_UNIT=sshd.service
Restart=on-failure
RestartSec=5s
StateDirectory=monic-agent
Environment=MONIC_SHARED_SECRET=secret

# HTTP режим
Environment=MONIC_HTTP_URL=http://127.0.0.1:8000

# gRPC режим (приоритетнее, если указан MONIC_GRPC_ADDR)
#Environment=MONIC_GRPC_ADDR=127.0.0.1:50051
#Environment=MONIC_GRPC_INSECURE=true # true = без TLS

[Install]
WantedBy=multi-user.target